<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu(1)"> </div>
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('perfil')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <div class="head-encuestas"> 
        <div class="titulo">Modificar datos de perfil</div>
        <hr style="background-color: #E2CDCD;border: 0;height: 1px;">
        <p style="text-align: justify;padding:0px; color:#BDB9AC;"></p>
    </div>
    <div class="body-encuestas">
        <div id="encuesta" class="cambioP">
            <div id="div1">
                <span>Nombre</span>
                <input id="1" type="text" class="elem-input-txt">
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(1)">
            </div>
            <div id="div2">
                <span>Apellido</span>
                <input id="2" type="text" class="elem-input-txt">
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(2)">
            </div>
            <div id="div3">
                <span>Fecha Nacimiento</span>
                <input id="3" type="date" class="elem-input-txt">
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(3)">
            </div>
            <div id="div4">
                <span>Pais</span>
                <select id="4" class="elem-input-txt"></select>
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(4)">
            </div>
            <div id="div5">
                <span>Ciudad</span>
                <select id="5" class="elem-input-txt"></select>
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(5)">
            </div>
            <div id="div6">
                <span>Dirección</span>
                <input id="6" type="text" class="elem-input-txt">
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(6)">
            </div>
            <div id="div7">
                <span>Teléfono</span>
                <input id="7" type="tel" class="elem-input-txt">
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(7)">
            </div>
            <div id="div8">
                <span>Estrato</span>
                <select id="8" class="elem-input-txt"></select>
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(8)">
            </div>    
            <div id="div9">
                <span>Género</span>
                <input id="genero_f" name="9" type="radio" class="" value="Femenino"><label for="genero_f">Femenino</label>
                <input id="genero-m" name="9" type="radio" class="" value="Masculino"><label for="genero_m">Masculino</label>              
                <input class="inputs button-general"  type="button"  value="Guardar" onclick="actualizarPerfil(9)">
            </div>
            <div id="div10">
                <span>Productos de consumo</span>
            </div>    
        </div>      
    </div>
    <div class="footer-encuestas">
        
    </div>
</div>