<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu()"> </div>
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('perfil')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <div class="head-encuestas"> 
        <div class="titulo" style="text-align: center">Cambiar Contraseña</div>
    </div>
    <div class="body-encuestas">
        <img src="img/icon_cobaia.png">
        <div class="form-login">
            <input id="user2" class="inputs" type="text" placeholder="Usuario" >  <!--bryan.paloma@grupoiris.co vtEmhJ8X-->
            <input id="pass1" class="inputs" type="password" placeholder="Contraseña Actual" >
            <input id="pass2" class="inputs" type="password" placeholder="Nueva contraseña" >
            <input id="pass3" class="inputs" type="password" placeholder="Repita nueva contraseña" >
            <input id="blogin" class="inputs button-general"  type="button"  value="Cambiar contraseña" onclick="contrasena()" >
        </div>      
    </div>   
</div>