<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu()"> </div>
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('perfil')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <div class="head-encuestas"> 
        <div class="titulo" style="text-align: center">Contáctenos</div>
    </div>
    <div class="body-encuestas">
        <div id="encuesta" class="descripcion-titulo">
            <p>Para conocer más sobre nosotros lee detenidamente los términos y condiciones</p>
            <textarea id="text-pregunta"></textarea>                    
        </div>      
    </div>
    <div class="footer-encuestas">
        <input class="button-general" type="button" value="Enviar" onclick="enviarCorreo()">        
    </div>
    <div style="margin-top:5%" class="descripcion-titulo"><span style="display: inline-block;padding-right: 5%;">Para conocer mas sobre nuestras politivas visite nuestro apartado de términos y condiciones</span><input type="button" value="Ver" class="ver" onclick="terminos()"></div>
</div>