<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu(1)"> </div>
        <!--img src="img/icon_cobaia.png" width="50" height="50"-->
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('perfil')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <div class="head-encuestas"> 
        <div class="titulo">Encuestas</div>
        <hr style="background-color: #E2CDCD;border: 0;height: 1px;">
        <p style="text-align: justify;padding:0px; color:#BDB9AC;"></p>
    </div>
    <div class="body-encuestas">
        <div id="encuesta" class="cuerpo">
        </div>      
    </div>
    <div class="footer-encuestas">
    </div>
</div>