<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu()"> </div>
        <!--img src="img/icon_cobaia.png" width="50" height="50"-->
    </div>
    <div id="atras-encuesta" class="atras"  onclick="irAtras('encuestas')"></div>
</div>
<div id="pregunta" class="fondo-general tam">
    <div class="head-pregunta"> 
        <div id="num-pregunta" style="color:#C2172C;padding: 0px;font-weight: bold;font-size: 18pt;text-align: left;"></div>
        <hr style="background-color: #E2CDCD;border: 0;height: 1px;">
        <p style="text-align: justify;padding:0px; color:#BDB9AC;"></p>
    </div>
    <div class="body-pregunta" id="body-pregunta">
        <div id="fin-encuesta">
            <span>Gracias!! Ha finalizado satisfactoriamente esta encuesta</span> <br>
            <span>Puntos Obtenidos : <label id="puntosObtenidos">0</label></span>
        </div>
         
    </div>
    <div class="footer-pregunta">  
         <input class="inputs button-general"  type="button"  value="Finalizar" onclick="finalizar()">
    </div>
</div>