<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu(1)"> </div>
        <!--img src="img/icon_cobaia.png" width="50" height="50"-->
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('perfil')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <div class="head-encuestas"> 
        <div class="titulo" style="text-align: center">Historial de tareas</div>
        <hr class="linea">
        <p id="descripcionEnc" class="descripcion-titulo">En esta sección encontrará los puntos obtenidos por su participación en las encuestas asignadas.</p> 
    </div>
    <div class="body-encuestas">
        <div id="encuesta" class="cuerpo">
        </div>      
    </div>
    <div class="footer-encuestas">
    </div>
</div>