
<div id="login" class="fondo-general tam">
    <img src="img/logo.png">
    <div class="form-login">
        <input id="user" class="inputs" type="text" placeholder="Usuario"  >
        <input id="pass" class="inputs" type="password" placeholder="Contraseña"  >   
        <div id="termino"><input id="tyc" type="checkbox" onclick="aceptarTermino()"><span>Acepto términos y condiciones</span></div>
        <div id="termino"><input id="recordarL" type="checkbox"  onclick="recordarlogin()"><span>Recordar en este dispositivo</span></div>        
        <input id="blogin" class="inputs button-general"  type="button"  value="Ingresar" onclick="login()" >
		<br>
		<div style="text-align:center; cursor:pointer; margin-top:10px;font-size: 11pt;" onclick="recuperarContrasena()"><span>¿Has olvidado tu contraseña? </span></div>
		<div style="text-align:center; cursor:pointer; margin-top:10px;font-size: 11pt;" onclick="irARegistro()"><span>Registrate </span></div>
    </div>
</div> 