<div id="head-user">
    <div id="ico-centro">
        <div id="menu-user-rosa" class="" onclick="mostrarMenu()"> </div>
        <!--img src="img/icon_cobaia.png" width="50" height="50"-->
    </div>
    <div id="atras-encuesta" class="atras"  onclick="irAtrasPregunta()"></div>
</div>
<div id="pregunta" class="fondo-general tam">
    <div class="head-pregunta"> 
        <div id="num-pregunta" class="titulo"></div>
        <hr style="background-color: #E2CDCD;border: 0;height: 1px;">
        <p style="text-align: justify;padding:0px; color:#BDB9AC;"></p>
    </div>
    <div class="body-pregunta" id="body-pregunta">
        <form id="formPregunta" name="formPregunta">
        </form>     
    </div>
    <div class="footer-pregunta">  
         <input class="inputs button-general"  type="button"  value="Siguiente" onclick="guardarRespuesta()">
    </div>
</div>