<div id="head-user">
    <div id="ico-centro">
        <!--div id="menu-user-rosa" class="" onclick="mostrarMenu()"> </div-->
    </div>
    <div id="atras-encuestas" class="atras" onclick="irAtras('login')"></div>
</div>
<div id="encuestas-user" class="fondo-general tam">
    <!--div class="head-encuestas"> 
        <div class="titulo" style="text-align: center">Cambiar Contraseña</div>
    </div-->
    <div class="body-encuestas">
        <img src="img/logo-home.png">
        <div class="form-cambiarPass">
			<p>Ingresa tu e-mail para reestablecer tu contraseña.</P>
            <input id="user_cambiarPass" class="inputs" type="text" placeholder="Usuario" >  <!--bryan.paloma@grupoiris.co vtEmhJ8X-->
            <input id="blogin_cambiarPass" class="inputs button-general"  type="button"  value="Enviar" onclick="solicitarContrasena()" >
        </div>      
    </div>   
</div>